<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DeviceName" value="USB 3.0 Video Camera" />
    <add key="panMinDegreesOfView" value="2" />
    <add key="panMaxDegreesOfView" value="65" />
    <add key="tiltMinDegreesOfView" value="2.2" />
    <add key="tiltMaxDegreesOfView" value="39" />
  </appSettings>
</configuration>